# MongoDB Atlas Connection String
# Updated with new password: A7med2023A
MONGO_URI=mongodb+srv://admin:A7med2023A@ryoalnan.ev2z8cp.mongodb.net/royalNano?retryWrites=true&w=majority


# Optional: Port for local development
PORT=3000
